<p style="color: green"><%= notice %></p>

<h1>Settings</h1>

<div id="settings">
  <% @settings.each do |setting| %>
    <%= render setting %>
    <p>
      <%= link_to "Update Settings", setting %>
    </p>

    <p>
    <%= link_to "Purge Expired Links", purge_path, :onclick => "return confirm('This will remove all expired links from the index, are you sure?')" %>
  </p>
  <% end %>
</div>


