<div id="url_entries">
  <% @url_entries.each do |url_entry| %>
    <div style="border-style:solid;border-width:3px; border-radius:5px; border-color: #dddddd;margin:10px;"> 
      <%= render url_entry %>
      <p>
        <%= link_to "Show this url entry", url_entry %>
      </p>
    </div>
    
  <% end %>
</div>