<p style="color: green"><%= notice %></p>

<a href="https://github.com/tyharg/CS-4376/blob/2ab0b974cd5e019239cbc5d3168ddb5ae67b128f/preliminary-plan.pdf" target="_blank"> Readme </a> | <a href="https://github.com/tyharg/CS-4376/" target="_blank"> Preliminary Project Plan </a>

<h1>CyberMiner v0.1 Index</h1>

<%= render 'search_form' %>

<%= render 'list_entry' %>


<%= link_to "New url entry", new_url_entry_path %>
